.mmc-promo.container-fluid {
    background-color: $backgroundColor;
    
    >.row {
        position: relative;
        // change this min-height for same height on all views
        min-height: 600px;
    }
}

.mmc-promo .visual {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    
    img {
        display: block;
        width: 100%;
        height: auto;
        opacity: 0;
    }
}

@media (min-width: $screen-md) {
    .mmc-promo .visual {
        display: block;
    }
}




.mmc-promo {
    position: relative;
    max-width: 985px;
    margin: 0 auto;
    background-color: $backgroundColor;
    font-family: $arial;
    font-size: 13px;
    line-height: normal;
    color: $fontColor1;
    
    
    box-sizing: border-box;
    *, *:before, *:after {
        box-sizing: inherit;
    }
    
    a, a:active, a:hover, a:focus {
        color: $fontColor2;
        font-weight: bold;
    }
    a:hover, a:focus {
        text-decoration: underline;
    }
    
    
    
    .txt-wrap {
        margin: 20px 0 20px;
        border-bottom: 1px solid $fontColor1;
      
        h2 {
            margin-top: 0;
            margin-bottom: 0.5em;
            color: $fontColor2;
            font-size: 3.07em;
            line-height: 1.1em;
            text-align: center;
            text-transform: uppercase;
        }
        h3 {
            margin-top: 0;
            margin-bottom: 0;
            color: $fontColor2;
            font-size: 2.15em;
            line-height: 1.1em;
            text-align: center;
            text-transform: uppercase;
        }
        > p {
            margin: 1em 0;
            text-align: center;
        }
    }

    ul {
        margin: 0 0 15px;
        padding: 0;
        list-style: none outside none;
    }
    li { margin-bottom: 4px; }
    
   .mmc-stdform>div.is-loading {
      &:before {
          content: '';
          position: absolute;
          top: 0;
          left: -2000px;
          right: -2000px;
          bottom: 0;
          background-position: center center;
          background-color: rgba(50,50,50,0.5);
          background-repeat: no-repeat;
          z-index: 998;
      }
      &:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          width: 64px;
          height: 64px;
          margin: -32px 0 0 -32px;
          background-image: image-url($loading);
          z-index: 999;
          animation: play 1s steps(24) infinite;
      }
   }
    
    
    .form {
        float: right;
        padding: 0 10px;
    }
    
    .form-terms-wrap { display: none; }
    .form-thx-wrap { display: none; }
}

@keyframes play {
    from { background-position:   0px; }
      to { background-position: -(image-width($loading)); }
}