# BUILT FILES
/dist/js
/dist/css
/.sass-cache
/bower_components
/node_modules
/vendor

# LOCAL DB DATA
mysqldumps/local*

# LOCAL CONFIGURATION
php/defines/local_configuration.php

# LOGGING
/logs

# IDE
.idea

# Elastic Beanstalk Files
.elasticbeanstalk
