# built files
.sass-cache
dist/js
dist/css

# vendor files
.elasticbeanstalk
.idea
.vagrant
bower_components
node_modules
vendor

# local sql files
mysqldumps/local*

# local configuration
php/defines/local_configuration.php

# logging
logs
