# BUILT FILES
dist/js/*
dist/js
dist/css
dist/css/*
.sass-cache/*
.sass-cache
node_modules/*
node_modules

# LOCAL DB DATA
mysqldumps/local*

# LOCAL CONFIGURATION
php/defines/local_configuration.php

# LOGGING
logs/*
logs

# IDE
.idea/
.idea
