<header>
    <h1>Attack Online</h1>
    <div class="login">
        {% if (loggedInd) %}
        {# --- START --- logout-form --- #}
        <form method="post" action="{{absRefPrefix}}">
            <table class="logout">
                <tr>
                    <td>
                        <p>{user_name}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p id="logout">(<a href="logout.php" class="linktext">Log Out</a>)</p>
                    </td>
                </tr>
                
                {% if (inactive) %}
                <tr>
                    <td>
                        <p class="error">Account inactive</p>
                    </td>
                </tr>
                {% endif %}
                
                <tr>
                    <td>
                        <select name="select_game" size="1" onchange="submit()">
                            <option value="" class="game" disabled="disabled" selected="selected">Select game</option>
                            {% for game in games %}
                            <option value="{game.id}" class="game">{game.name}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            </table>
        </form>
        {# --- END --- logout-form --- #}
        {% else %}
        {# --- START --- login-form --- #}
        <form method="post" action="{{absRefPrefix}}">
            <input type="hidden" name="login_action_required" />
            <table class="login">
                    <tr><td>
                        <p>
                            <input type="text" id="username" name="username" value="{user_username}" maxlength="15" size="20" />
                        </p>
                    </td></tr>
                    <tr><td>
                        <p>
                            <input type="password" id="password" name="password" value="Passwort" maxlength="40" size="20" />
                        </p>
                    </td></tr>
                    <tr><td>
                        <p>
                            <input type="submit" value="Log In" name="login" /> <input type="checkbox" class="checkbox" name="remember" /> merken?
                        </p>
                    </td></tr>
            </table>
        </form>
        {# --- END --- login-form --- #}
        {% endif %}
    </div>
</header>
