<aside class="left">
</aside>

<aside class="menu">
	<div class="menutop">
	</div>
	<div class="menumiddle">
		<ul class="nav_menu">
			<li>
				<ul class="nav_main">
					<li>
						<a href="index.php">Home</a><br />
					</li>
					
				</ul>
			</li>
			
            {% if (active) %}
            {# --- START --- active-user (logged-in) --- #}
			<li>
				<ul class="nav_active">
					<li>
						<a href="index.php?content=games" class="games">Partien</a><br />
					</li>
				</ul>
			</li>
				
			<!-- BEGIN: ingame -->
			<li>
				<ul class="nav_game">
					<li>
						<a href="index.php?content=overview" class="turns">Übersicht</a><br />
					</li>
					<li>
						<a href="index.php?content=landmove" class="turns">Landzug</a><br />
					</li>
					
					<!-- BEGIN: seamove -->
					<li>
						<a href="index.php?content=seamove" class="turns">Seezug</a><br />
					</li>
					<!-- END: seamove -->
					
					<!-- BEGIN: traderoute -->
					<li>
						<a href="index.php?content=traderoute" class="turns">Handelsrouten</a><br />
					</li>
					<!-- END: traderoute -->
					
					<!-- BEGIN: troopsmove -->
					<li>
						<a href="index.php?content=troopsmove" class="turns">Verlegen</a><br />
					</li>
					<!-- END: troopsmove -->
					
					<!-- BEGIN: production -->
					<li>
						<a href="index.php?content=production" class="turns">Produktion</a><br />
					</li>
					<!-- END: production -->
					
					<!-- BEGIN: techtree -->
					<li>
						<a href="index.php?content=techtree" class="turns">Tech-Tree</a><br />
					</li>
					<!-- END: techtree -->
				</ul>
			</li>
			<!-- END: ingame -->
							
			<!-- BEGIN: started -->
			<li>
				<ul class="nav_game">
					<li>
						<a href="index.php?content=overview" class="turns">Übersicht</a><br />
					</li>
					<li>
						<a href="index.php?content=selectstart" class="turns">Startfelder</a><br />
					</li>
					
					<!-- BEGIN: setships -->
					<li>
						<a href="index.php?content=setships" class="turns">Schiffe</a><br />
					</li>
					<!-- END: setships -->
				</ul>
			</li>
			<!-- END: started -->
			
			<li>
				<ul class="nav_controls">
					<!-- BEGIN: moderator -->
					<li>
						<a href="index.php?content=gamesmod" class="mod">Spiele</a><br />
					</li>
					<!-- END: moderator -->
					
					<!-- BEGIN: admin -->
					<li>
						<a href="index.php?content=user" class="admin">User</a><br />
					</li>
					<!-- END: admin -->
					
					<li>
						<a href ="index.php?content=profile">Profil</a><br />
					</li>
				</ul>
			</li>
            {# --- END --- active-user (logged-in) --- #}
            {% else %}
            {# --- START --- inactive-user (not-logged-in) --- #}
			<li>
				<ul>
					<li>
						<a href="index.php?content=whatis">Was ist Att On?</a><br />
					</li>
					<li>
						<a href="index.php?content=register">Registrieren</a><br />
					</li>
				</ul>
			</li>
            {# --- END --- inactive-user (not-logged-in) --- #}
            {% endif %}
			
			<li>
				<ul class="info">
					<li>
						<a href="index.php?content=manual">Manual</a><br />
					</li>
					<li>
						<a href="index.php?content=imprint">Impressum</a><br />
					</li>
				</ul>
			</li>
		</ul>
		
	</div>
	<div class="menubottom">
	</div>
</aside>

<aside class="right">
</aside>
