<!-- BEGIN: main -->

<!-- BEGIN: game -->

	<div class="showmoves">
		<p><strong>{game.name}</strong><br /><small>({game.mode})</small></p>
	</div>
	
	<h1>{game.name}</h1>
	<!-- BEGIN: delete -->
		<p>Wollen Sie wirklich dieses Spiel löschen?</p>
	<form method="post" action="{PHP._SERVER.PHP_SELF}?content={content}">
		<p>
			<input type="submit" value="L&ouml;schen" name="delete_affirmed" />
			<input type="submit" value="Abbrechen" name="abort" />
			<input type="hidden" value="{game.id}" name="games" />
			<input type="hidden" name="creator_action" value="creator_action" />
		</p>
	</form>
	<!-- END: delete -->
	
	<table>
		<tr>
			<td>Ersteller:</td>
			<td>{game.creator}</td>
			<th>Farbe</th>
			<!-- BEGIN: creator_kick -->
			<th>kick</th>
			<!-- END: creator_kick -->
		</tr>
		
		<!-- BEGIN: player -->
		<tr>
			<td>Mitspieler:</td>
			<td>{player.login}</td>
			<td>{player.color}</td>
			<!-- BEGIN: creator_kick -->
			<td class="center">
			<form method="post" action="{PHP._SERVER.PHP_SELF}?content={content}">
				<input type="image" value="{player.id}" name="kick" src="./images/leave.gif" alt="Spiel verlassen"/>
				<input type="hidden" value="{player.id}" name="kick" />
				<input type="hidden" name="games" value="{game.id}" />
				<input type="hidden" name="creator_action" value="creator_action" />
			</form>
			</td>
			<!-- END: creator_kick -->
		</tr>
		<!-- END: player -->
	</table>
	<!-- BEGIN: creator_new_game -->
	<br/>
	<table>
    <tr>
        <td>start game
        </td>
        <td>
			<form method="post" action="{PHP._SERVER.PHP_SELF}?content={content}">
				<input type="submit" name="start" value="start" />
				<input type="hidden" name="games" value="{game.id}" />
				<input type="hidden" name="creator_action" value="creator_action" />
			</form>
        </td>
    </tr>
    <tr>
        <td>delete game
        </td>
        <td>
			<form method="post" action="{PHP._SERVER.PHP_SELF}?content={content}">
				<input type="submit" name="delete" value="delete" />
				<input type="hidden" name="games" value="{game.id}" />
				<input type="hidden" name="creator_action" value="creator_action" />
			</form>
        </td>
    </tr>
		<form method="post" action="{PHP._SERVER.PHP_SELF}?content={content}">
    <tr>
        <td>new password<br/>(leave empty to set game without password)
        </td>
        <td><input type="password" id="password1" name="password1" maxlength="40"/>
        </td>
    </tr>
    <tr>
        <td>retype password
        </td>
        <td><input type="password" id="password2" name="password2" maxlength="40"/>
        </td>
    </tr>
    <tr>
        <td>change password
        </td>
        <td>
			<input type="submit" name="change_pw" value="change" />
			<input type="hidden" name="games" value="{game.id}" />
			<input type="hidden" name="creator_action" value="creator_action" />
        </td>
    </tr>
		</form>
</table>

	<!-- END: creator_new_game -->
		
<!-- END: game -->

<!-- BEGIN: landmove -->
		<table width="589">
		<colgroup>
			<col width="" span="2"/>
			<col width="45" span="4"/>
			<col width="100" />
		</colgroup>
			<tr>
				<th>Startfeld</th>
				<th>Zielfeld</th>
				<th>Inf</th>
				<th>Art</th>
				<th>Pan</th>
				<th>Flug</th>
				<th>User</th>
			</tr>
			
			<!-- BEGIN: moves -->
			<tr>
				<td>{move.start}</td>
				<td>{move.destination}</td>
				<td class="center">{move.Infanterie}</td>
				<td class="center">{move.Artillerie}</td>
				<td class="center">{move.Panzer}</td>
				<td class="center">{move.Flieger}</td>
				<td class="center">{move.login}</td>
			</tr>
			<!-- END: moves -->
			</form>
			
		</table>
<!-- END: landmove -->

<!-- BEGIN: seamove -->
		<table width="589">
		<colgroup>
			<col width="" span="2"/>
			<col width="120" />
			<col width="100" />
		</colgroup>
			<tr>
				<th>Startfeld<br />Landfeld optional</th>
				<th>Zielfeld<br />Landfeld optional</th>
				<th>Schiffe<br />(multiple)</th>
				<th> </th>
			</tr>

			<!-- BEGIN: moves -->
			<tr>
				<td class="center">{move.start}<br /><small>..{move.startcoast}</small></td>
				<td class="center">{move.destination}<br /><small>..{move.destinationcoast}</small></td>
				<td>
				<!-- BEGIN: ships -->
					<!-- BEGIN: names -->
					<strong>{move.index.0}</strong>-{move.name}<br />
					<!-- END: names -->
				<small>{move.shipCount}..{move.ship}</small><br />
				<!-- END: ships -->
				</td>
				<td class="center">{move.login}</td>
			</tr>
			<!-- END: moves -->
		</table>
<!-- END: seamove -->

<!-- BEGIN: traderoute -->
		<table width="448">
		<colgroup>
			<col width="174" span="2"/>
			<col width="100" />
		</colgroup>
			<tr>
				<th>Startfeld</th>
				<th>Zielfeld</th>
				<th>User</th>
			</tr>

			<!-- BEGIN: traderoutes -->
			<tr>
				<td>{tr.start}</td>
				<td>{tr.destination}</td>
				<td>{tr.login}</td>
			</tr>
			<!-- END: traderoutes -->
		</table>
<!-- END: traderoute -->

<!-- BEGIN: troopsmove -->
		<table width="589">
		<colgroup>
			<col width="" span="2"/>
			<col width="45" span="4"/>
			<col width="100" />
		</colgroup>
			<tr>
				<th>Startfeld</th>
				<th>Zielfeld</th>
				<th>Inf</th>
				<th>Art</th>
				<th>Pan</th>
				<th>Flug</th>
				<th>User</th>
			</tr>

			<!-- BEGIN: moves -->
			<tr>
				<td>{move.start}</td>
				<td>{move.destination}</td>
				<td class="center">{move.Infanterie}</td>
				<td class="center">{move.Artillerie}</td>
				<td class="center">{move.Panzer}</td>
				<td class="center">{move.Flieger}</td>
				<td class="center">{move.login}</td>
			</tr>
			<!-- END: moves -->
		</table>
<!-- END: troopsmove -->

<!-- BEGIN: production -->
		<table>
			<tr>
				<th>Land</th>
				<th>Einheit</th>
				<th>Anzahl/Name</th>
				<th>Küste<br />(Schiffe)</th>
				<th>User</th>
			</tr>

			<!-- BEGIN: moves -->
			<tr>
				<td>{production.area}</td>
				<td>{production.unit}</td>
				<td>{production.name}{production.numberof}</td>
				<td>{production.coast}</td>
				<td>{production.login}</td>
			</tr>
			<!-- END: moves -->
		</table>
<!-- END: production -->
		
	<p><br/><a href="{PHP._SERVER.PHP_SELF}?content=games">Zurück</a></p>
<!-- END: main -->