<!-- BEGIN: main -->

<!-- BEGIN: game -->

	<div class="showmoves">
		<p><strong>{{game.name}}</strong><br /><small>({{game.mode}})</small></p>
	</div>

	<h1>{{game.name}}</h1>
	<!-- BEGIN: delete -->
		<p>Wollen Sie wirklich dieses Spiel löschen?</p>
	<form method="post" action="{PHP._SERVER.PHP_SELF}?content={content}">
		<p>
			<input type="submit" value="L&ouml;schen" name="delete_affirmed" />
			<input type="submit" value="Abbrechen" name="abort" />
			<input type="hidden" value="{game.id}" name="games" />
			<input type="hidden" name="creator_action" value="creator_action" />
		</p>
	</form>
	<!-- END: delete -->

	<table>
		<tr>
			<td>Ersteller:</td>
			<td>{game.creator}</td>
			<th>Farbe</th>
			<!-- BEGIN: creator_kick -->
			<th>kick</th>
			<!-- END: creator_kick -->
		</tr>

		<!-- BEGIN: player -->
		<tr>
			<td>Mitspieler:</td>
			<td>{player.login}</td>
			<td>{player.color}</td>
			<!-- BEGIN: creator_kick -->
			<td class="center">
			<form method="post" action="{PHP._SERVER.PHP_SELF}?content={content}">
				<input type="image" value="{player.id}" name="kick" src="./images/leave.gif" alt="Spiel verlassen"/>
				<input type="hidden" value="{player.id}" name="kick" />
				<input type="hidden" name="games" value="{game.id}" />
				<input type="hidden" name="creator_action" value="creator_action" />
			</form>
			</td>
			<!-- END: creator_kick -->
		</tr>
		<!-- END: player -->
	</table>
	<!-- BEGIN: creator_new_game -->
	<br/>
	<table>
    <tr>
        <td>start game
        </td>
        <td>
			<form method="post" action="{PHP._SERVER.PHP_SELF}?content={content}">
				<input type="submit" name="start" value="start" />
				<input type="hidden" name="games" value="{game.id}" />
				<input type="hidden" name="creator_action" value="creator_action" />
			</form>
        </td>
    </tr>
    <tr>
        <td>delete game
        </td>
        <td>
			<form method="post" action="{PHP._SERVER.PHP_SELF}?content={content}">
				<input type="submit" name="delete" value="delete" />
				<input type="hidden" name="games" value="{game.id}" />
				<input type="hidden" name="creator_action" value="creator_action" />
			</form>
        </td>
    </tr>
		<form method="post" action="{PHP._SERVER.PHP_SELF}?content={content}">
    <tr>
        <td>new password<br/>(leave empty to set game without password)
        </td>
        <td><input type="password" id="password1" name="password1" maxlength="40"/>
        </td>
    </tr>
    <tr>
        <td>retype password
        </td>
        <td><input type="password" id="password2" name="password2" maxlength="40"/>
        </td>
    </tr>
    <tr>
        <td>change password
        </td>
        <td>
			<input type="submit" name="change_pw" value="change" />
			<input type="hidden" name="games" value="{game.id}" />
			<input type="hidden" name="creator_action" value="creator_action" />
        </td>
    </tr>
		</form>
</table>

<!-- END: creator_new_game -->

<br>
<p>
    <a href="{{absRefPrefix}}games/">Zurück</a>
</p>
