<!-- BEGIN: main -->
<!-- BEGIN: newgame -->
	<h1>Neue Partie erstellen</h1>
		<form method="post" action="{PHP._SERVER.PHP_SELF}?content=newgame">
		<p><table>
			<tr><td>Spielname:</td><td><input type="text" id="name" name="name" value="{game_name}" maxlength="40"/></td></tr>
			<tr><td>Anzahl Spieler: (2-6)</td><td><input type="text" id="players" name="players" value="{game_players}" maxlength="1"/></td></tr>
			<tr><td>Spielmodus:<br/><small>(<a class="linktext" href="{PHP._SERVER.PHP_SELF}?content=manual&topic=game_modes">Info</a>)</small></td><td>
				<select name="game_mode" size="1">
				<!-- BEGIN: game_mode -->
					<option value="{game_mode.id}" name="game_mode">{game_mode.name} ({game_mode.abbreviation})</option>
				<!-- END: game_mode -->
				</select>
			</td></tr>
			<tr><td>Passwort:</td><td><input type="password" id="password1" name="password1" maxlength="40"/></td></tr>
			<tr><td>Passwort wiederholen:</td><td><input type="password" id="password2" name="password2" maxlength="40"/></td></tr>
			<tr><td colspan="2"><strong>Passwort-Felder frei lassen um kein Passwort zu setzen.</strong></td></tr>
			<tr><td><input type="checkbox" name="play" value="play" checked="checked" /> Selbst mitspielen?</td><td>
				<select name="color" size="1">
				<!-- BEGIN: color -->
					<option value="{color.id}" name="color">{color.color}</option>
				<!-- END: color -->
				</select>
			</td></tr>
			<tr><td><input type="submit" value="Erstellen" name="create" /></td></tr>
			</table>
		</p>
		</form>
<!-- END: newgame -->
<p><br/><a href="{PHP._SERVER.PHP_SELF}?content=games">Zur&uuml;ck</a></p>
<!-- END: main -->