<!-- BEGIN: main -->
	
	<h1>Übersicht</h1>
	
	<p>Hier kommt dann noch eine kleine Übersicht über die Spieler. Wer wieviel Länder, Produktion, etc. hat. Was ihr jetzt seht ist nur temporär damit man zumindest sieht wer wieviel PPs hat.</p>
	
	<hr>
		
	<table>
		<tr>
			<th>User</th>
			<th>Reserven</th>
			<th>Länder</th>
			<th>Handelsrouten</th>
			<th>Kombos</th>
			<th>Summe</th>
		</tr>
		<!-- BEGIN: user -->
		<tr>
			<td>{user.login}</td>
			<td align="right">{user.money}</td>
			<td align="right">{user.resproduction}</td>
			<td align="right">{user.trproduction}</td>
			<td align="right">{user.comboproduction}</td>
			<td align="right">{user.sum}</td>
		</tr>
		<!-- END: user -->
	</table>

<!-- END: main -->