{% include 'content/partials/currentgame.twig' %}

<h1>Handelsrouten</h1>


<form method="post" action="{{ absRefPrefix }}traderoutes/">
    <h2>aktuelle Handelsrouten</h2>
    <table>
        <tr>
            <th>Felder</th>
            <th>aktueller Wert<br><small>(PP)</small></th>
            <th>maximaler Wert<br><small>(PP)</small></th>
            <th>löschen</th>
        </tr>
        <tr>
            <td>
                <strong>14 - Colombia</strong><br>
                87 - Caribbean Sea<br>
                101 - North Atlantic Antilles<br>
                99 - North Atlantic Canary<br>
                <strong>25 - France-Spain</strong>
            </td>
            <td>3<br><small>(6)</small></td>
            <td>6<br><small>(12)</small></td>
            <td>
                <button type="submit" name="delete_traderoute" value="id_traderoute">löschen</button>
            </td>
        </tr>
    </table>

    <h2>gelöschte Handelsrouten</h2>
    <table>
        <tr>
            <th>Felder</th>
            <th>aktueller Wert<br><small>(PP)</small></th>
            <th>maximaler Wert<br><small>(PP)</small></th>
            <th>löschen</th>
        </tr>
        <tr>
            <td>
                <strong>14 - Colombia</strong><br>
                87 - Caribbean Sea<br>
                101 - North Atlantic Antilles<br>
                99 - North Atlantic Canary<br>
                <strong>25 - France-Spain</strong>
            </td>
            <td>3<br><small>(6)</small></td>
            <td>6<br><small>(12)</small></td>
            <td>
                <button type="submit" name="restore_traderoute" value="id_traderoute">rückgängig</button>
            </td>
        </tr>
    </table>

    <h2>neue Handelsrouten</h2>
    <table>
        <tr>
            <th>Felder</th>
            <th>maximaler Wert<br><small>(PP)</small></th>
            <th></th>
        </tr>
        <tr>
            <td>
                <strong>14 - Colombia</strong><br>
                87 - Caribbean Sea<br>
                101 - North Atlantic Antilles<br>
                99 - North Atlantic Canary<br>
                <strong>25 - France-Spain</strong>
            </td>
            <td>6<br><small>(12)</small></td>
            <td>
                <button type="submit" name="new_traderoute_delete" value="id_move">löschen</button>
            </td>
        </tr>
        <tr>
            <td>
                <input type="hidden" name="new_traderoute_fields[0]" value="id_game_area" />
                <input type="hidden" name="new_traderoute_fields[1]" value="id_game_area" />
                <strong>14 - Colombia</strong><br>
                87 - Caribbean Sea<br>
                <label>
                    <select name="game_areas">
                        <option selected disabled>land wählen</option>
                        <option>101 - North Atlantic Antilles</option>
                        <option>99 - North Atlantic Canary</option>
                    </select>
                </label>
            </td>
            <td></td>
            <td>
                <button type="submit" name="new_traderoute_abort" value="id_move">löschen</button>
                <br>
                <button type="submit" name="new_traderoute_add_field" value="1">nächstes feld</button>
                <br>
                <button type="submit" name="new_traderoute_finish" value="1">fertig</button>
            </td>
        </tr>
    </table>
</form>

{% if notCurrentPhase %}
    <p class="error">
        <small>
            Achtung, dies ist nicht die aktuelle Phase.
            <br/>
            Es könnte sein, dass ihr eure Züge noch vor dem Ende dieser Runde ändern wollt, um euch auf unvorhergesehene Züge der Mitspieler
            einzustellen.
        </small>
    </p>
{% endif %}

<hr/>

{% if turnFixated %}
    <p>
        Achtung, du hast den Zug bereits fixiert.
    </p>
{% else %}
    <form method="post" action="{{ absRefPrefix }}traderoutes/">
        <h2>Zug beenden</h2>
        <p>Achtung, wenn du den folgenden Knopf dr&uuml;ckst werden deine Handelsrouten fixiert und du kannst sie nicht mehr &auml;ndern. Erst
            wenn alle Spieler diesen Zug beendet haben erfolgt die Berechnung und das Spiel geht in die n&auml;chste Phase.</p>
        <input type="submit" name="fixate_traderoutes" value="Fertig"/>
    </form>
{% endif %}

{% if errors %}
    <br>
    <p class="error">{{ errors.message }}</p>
{% endif %}

{% if status %}
    <br>
    <p class="status">{{ status.message }}</p>
{% endif %}
