<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie6 no-js" lang="de" dir="ltr"><![endif]-->
<!--[if IE 7 ]><html class="ie7 no-js" lang="de" dir="ltr"><![endif]-->
<!--[if IE 8 ]><html class="ie8 no-js" lang="de" dir="ltr"><![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js" lang="de" dir="ltr"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="de" dir="ltr"><!--<![endif]-->
    <head>
        {% include 'partials/head.twig' %}
    </head>
    <body id="top" class="layout_1">
        {% include 'partials/header.twig' %}

        <section id="global" class="clearfix">
            {% include 'partials/nav.twig' %}

            <div class="content">
                {% include 'content/' ~ template ~ '.twig' %}
            </div>

            <div class="clearfix"></div>
        </section>

        {% include 'partials/footer.twig' %}
    </body>
</html>
