<title>Attack Online</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<meta name="title" content="Attack Online">
<meta name="description" content="Boardgame Attack played online">

<script src="{{absRefPrefix}}dist/js/modernizr.js"></script>

<link rel="shortcut icon" type="image/x-icon" href="{{absRefPrefix}}favicon.ico">
<link rel="stylesheet" type="text/css"  href="{{absRefPrefix}}dist/css/main.css">
